html {
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lucida Sans Typewriter',monospace;
  height: 100%;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-align: center;

  /**
   * default fallback background
   */
  background: rgba(0,0,0,0.5) center/cover no-repeat center fixed;
}

/**
 * Display Google font only when loaded
 */
.wf-active body {
  font-family: 'Droid Sans Mono';
}

.container {
  min-height: 60%;

  display: -webkit-flex;
  display:  -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
}

.container-item {
  flex: 1 1 auto;
  padding: 0 10%;
}

/**
 * I like big buttons and I cannot lie.
 */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  font-size: 150%;
  border-radius: 4px;
  color: #fff;
  width: 100px;
}

.btn:hover,
.btn:focus {
  text-decoration: none;
  color: #000;
}

.btn-green {
  background-color: rgb(92,184,92);
}

.btn-green:hover, .btn-green:focus {
  background-color: rgba(92,184,92,0.6);
}

.btn-blue {
  background-color: rgb(66,139,202);
}

.btn-blue:hover, .btn-blue:focus {
  background-color: rgba(66,139,202,0.6);
}

.btn-yellow {
  background-color: rgb(240,173,78);
}

.btn-yellow:hover, .btn-yellow:focus {
  background-color: rgba(240,173,78,0.7);
}

@media (max-width: 480px) {
    /**
     * add radiant background over image so text is easier to read
     */
    body {
      background-image: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.5) 90%), url('background-img-sm.jpg');
    }

    /**
     * stack items (esp buttons) in a column when on small screens
     */
    .container-item {
      display: -webkit-flex;
      display:  -ms-flexbox;
      display:         flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: center;
                -ms-flex-pack: center;
              justify-content: center;
    }
}

@media (min-width: 481px) {
    /**
     * add radiant background over image so text is easier to read
     */
    body {
      background-image: radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.5) 90%), url('background-img.jpg');
    }

    /**
     * little larger font when on bigger screen
     */
    .container-item {
      font-size: 110%;
    }
}